
    /* *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } */

body {
    text-align: center;
    background-color: #a9d7e9;
  }
  
  .form-block {
    position: static;
    display: block;
  }
  
  .container {
    margin: auto;
    width: 600px;
    height: auto;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 20px 10px ;
  }
  
  .fields {
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;
  }
  .form-item {
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    vertical-align: top;
    margin-top: 10px;
  }
  
  .input-fields {
    height: 20px;
    width: 280px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
  }
  
  .dropdown {
    height: 35px;
    width: 140px;
    padding: 5px;
    margin: 15px 10px 10px 10px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
  }
  
  .radio {
    position: relative;
    left: -43px;
    margin-left: 10px;
    display: block;
    padding-bottom: 10px;
  }
  
  .radio label input {
    float: left;
    margin-right: 5px;
  }
  
  .button {
    font-size: 1em;
    background-color: #6ba2ce;
    color: white;
    border: 0px solid;
    border-radius: 4px;
    height: 40px;
    width: 80px;
    margin: 10px;
  }
  textarea {
      min-height: 60px;
      resize: vertical;
  }
  
